.Xauthority
.cache/
.dbus/
.esd_auth
.macromedia/
.mozilla/
.thunderbird/
.vim/tmp/
.subversion/
Mail/
.shutter/
.thumbnails/
.config/pulse/
.config/google-googletalkplugin/
.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/bookmarks
.netrc
.notmuch-config
.msmtprc
.offlineimaprc
